# Pepper customers data analysis

## Logistic Regression

In [2]:
# Load modules
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report

In [3]:
# Load dataset
df = pd.read_pickle("data/df.pkl")

df2 = pd.get_dummies(df, drop_first=True)
df2

,Age,Education,Income,Profile,p1,p2,p3,p4,p5,p6,Sex_Woman,Consumption_Yes
0,2,6,3,19,3,3,2,7,1,3,0,1
1,2,2,2,39,7,5,7,6,7,7,0,0
2,2,5,2,23,4,1,4,6,4,4,0,1
3,3,7,5,16,4,2,4,2,1,3,0,1
4,3,6,3,20,3,3,4,5,2,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
131,2,6,5,24,7,1,7,1,1,7,1,1
132,2,6,1,13,2,1,3,5,1,1,1,0
133,3,6,3,21,4,2,4,6,3,2,1,1
134,2,6,2,13,1,2,1,4,1,4,1,0
135,2,6,2,13,1,2,1,4,1,4,1,0

In [4]:
X = df2[['Age', 'Education', 'Income', 'Profile', 'Sex_Woman']]
y = df2['Consumption_Yes']

# all parameters not specified are set to their defaults
model = LogisticRegression()

# Fit model
model.fit(X, y)

LogisticRegression()

In [7]:
model.coef_

array([[ 0.35461439,  0.05430235,  0.23213416,  0.04032072, -0.27594713]])

In [8]:
model.classes_

array([0, 1], dtype=uint8)

In [9]:
model.score(X, y)

0.6470588235294118

In [10]:
confusion_matrix(y, model.predict(X))

array([[30, 31],
       [17, 58]], dtype=int64)

In [6]:
print(classification_report(y, model.predict(X)))

              precision    recall  f1-score   support

           0       0.64      0.49      0.56        61
           1       0.65      0.77      0.71        75

    accuracy                           0.65       136
   macro avg       0.64      0.63      0.63       136
weighted avg       0.65      0.65      0.64       136